body	{
	font-size: 18px;
	font-family: arial;
	background-color: #F6F6F6;
	border-top: 5px solid #222222;
	border-bottom:5px solid #222222;
	padding: 50px;
	margin: 30px;
	margin-left: 100px;
	margin-right: 100px;

}
a	{
	font-weight: bold;
}
nav	{
	text-align: center;
}
img	{
	float: right;
}
p {
    margin-left: 0px;
    overflow:auto;
    display:block;
    font-family: Times;

}
h1	{
	text-align: center;
	margin-right: 10px;
    clear:both;
    
}
ul	{
	font-family: Times;
}
 #image2 {
 	float: center;



   }